*
{
    box-sizing: border-box;
}

body
{
    font-family: Monospace, Arial, Helvetica, sans-serif;
    font-size: 15;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #f8f8f8;
}

/* Global */
.container
{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Header */
header
{
    background-image: linear-gradient(rgba(29, 26, 26, 0.5),rgba(39, 37, 37, 0.5)), url(./img/Background.jpg);
    /*height: 100vh;*/
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    border-bottom: rgb(73, 94, 126) 10px solid;
    overflow: hidden;
}

.logo
{
    width: 80%;
    margin: auto;
    overflow: hidden;
    float: left;
    margin-left: 30px;
}

.logo img
{
    width: 12%;
    height: auto;
}

.hero
{
    overflow: hidden;
    font-family: monospace;
    position: absolute;
    width: 100%;
}

.hero h1
{
    color: white;
    text-shadow: 3px 3px rgb(73, 94, 126);
    text-transform: uppercase;
    text-align: center;
    font-size: 65px;
    margin-top: 25px;
}

.center
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* about */
.abouth1 h1
{
    font-size: 50px;
    text-align: center;
    font-family: monospace;
    float: top;
    text-transform: uppercase;
    text-shadow: 2.5px 2.5px rgb(73, 94, 126);
}

.aboutimg
{
    display: flex;
}

.column1
{
    float: left;
    width: 27%;
    margin-left: 10%;
    margin-right: 5%;
}

.column2
{
    float: right;
    width: 50%;
}

.aboutimg img
{
    border-radius: 2%;
}

.aboutimg span
{
    font-family: 'Courier New', Courier, monospace;
    margin-top: 0%;
    font-size: 15.7px;
}

.aboutimg:after
{
    content: "";
    clear: both;
    display: table;
}

/* resume */
.resume
{
    margin-top: 5%;
    border-top: rgb(73, 94, 126) 10px solid;
    background-color:#ffffff;
}

h2
{
    margin-top: 2.5%;
    margin-bottom: 4%;
    text-align: center;
}

.resume1 h1
{
    font-size: 50px;
    text-align: center;
    font-family: monospace;
    float: top;
    text-transform: uppercase;
    text-shadow: 2.5px 2.5px rgb(73, 94, 126); 
}

.resume1 p
{
    font-family: sans-serif;
    font-size: 18px;
    text-align: center;
    margin-bottom: 5%;
    margin-top: 2.5%
}

.resume1 a:link, a:visited
{
    background-color: rgb(73, 94, 126);
    color: white;
    text-shadow: 1.5px 1.5px gray;
    padding: 10px 10px;
    text-decoration: none;
}

.resume1 a:hover
{
    background-color: rgb(78, 79, 80);
}

.resume p
{
    font-family: Courier;
    font-size: 14px;
}

.column
{
    float: right;
    width: 50%;
}

.resume2
{
    margin-right: 10%;
}

.resume2 img
{
    width: 20%;
    margin-left: 27%;
    border-radius: 5%;
    margin-top: 0%;
}

.resume2::after
{
    content: "";
    clear: both;
    display: table;
}

.resume3
{
    margin-top: 5%;
    margin-right: 10%;
}

.resume3 img
{
    width: 17%;
    margin-left: 27%;
    border-radius: 5%;
}

.resume3 span
{
    font-size: 16px;
    line-height: 1px;
}

.resume3::after
{
    content: "";
    clear: both;
    display: table;
}

/* links */
.linkstxt h1
{
    font-size: 50px;
    text-align: center;
    font-family: monospace;
    float: top;
    text-transform: uppercase;
    text-shadow: 2.5px 2.5px rgb(73, 94, 126);
}

.linkstxt
{
    border-top: rgb(73, 94, 126) 10px solid;    
    overflow: hidden;
    margin-bottom: 0%;
}

.linkstxt img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    width: 40%;
}

/* contact */

.email h1
{
    font-size: 50px;
    text-align: center;
    font-family: monospace;
    text-transform: uppercase;
    text-shadow: 2.5px 2.5px rgb(73, 94, 126);
    margin-bottom: 0%;
}
.email p
{
    font-family: sans-serif;
    font-size: 18px;
    text-align: center;
    margin-bottom: 2.5%;
}

/* footer */
footer
{
    background-color: rgb(73, 94, 126);
    border-top:black 3px solid;
    color: white;
    overflow: hidden;
}
