*
{
    box-sizing: border-box;
}

body
{
    font-family: Monospace, Arial, Helvetica, sans-serif;
    font-size: 15;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #f8f8f8;
}

/* Global */
.container
{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Header */
header
{
    background-image: linear-gradient(rgba(29, 26, 26, 0.5),rgba(39, 37, 37, 0.5)), url(./img/Background.jpg);
    /*height: 100vh;*/
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    margin-bottom: 0%;
}

.logo
{
    width: 80%;
    margin: auto;
    overflow: hidden;
    float: left;
    margin-left: 30px;
}

.logo img
{
    width: 12%;
    height: auto;
}

.hero
{
    overflow: hidden;
    font-family: monospace;
    position: absolute;
    width: 100%;
}

.hero h1
{
    color: white;
    text-shadow: 3px 3px rgb(73, 94, 126);
    text-transform: uppercase;
    text-align: center;
    font-size: 65px;
    margin-top: 25px;
}

.center
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* about */
.about
{

    margin-top: 0%;
    margin-bottom: 0%;
    padding-bottom: 3%;
    padding-top: 0.1%;
}

.abouth1 h1
{
    font-size: 50px;
    text-align: center;
    font-family: monospace;
    float: top;
    text-transform: uppercase;
}

.aboutimg
{
    display: flex;
}

.column1
{
    float: left;
    width: 27%;
    margin-left: 10%;
    margin-right: 5%;
}

.column2
{
    float: right;
    width: 50%;
}

.aboutimg img
{
    border-radius: 2%;
}

.aboutimg span
{
    font-family: serif;
    margin-top: 0%;
    font-size: 17px;
    line-height: 1.9;
}

.aboutimg:after
{
    content: "";
    clear: both;
    display: table;
}

/* resume */
.resume
{
    background-image: linear-gradient(rgba(241, 231, 231, 0.5),rgba(235, 228, 228, 0.5)), url(./img/Background3.jpg);
    min-height: 100vh;
    background-size:cover;
    background-position: center;
    margin-top: 0%;
    margin-bottom: 0%;
    padding-bottom: 0.1%;
    padding-top: 0.1%;
}

h2
{
    margin-top: 2.5%;
    margin-bottom: 2%;
    text-align: center;
}

.resume1 h1
{
    font-size: 50px;
    text-align: center;
    font-family: monospace;
    float: top;
    text-transform: uppercase;
}

.resume1 p
{
    font-style: arial;
    text-align: center;
    margin-bottom: 5%;
    margin-top: 2.5%
}

.resume1 a:link, a:visited
{
    background-color: rgb(73, 94, 126);
    color: white;
    text-shadow: 1.5px 1.5px gray;
    padding: 10px 10px;
    text-decoration: none;
}

.resume1 a:hover
{
    background-color: rgb(78, 79, 80);
}

.resume p
{
    font-family: Courier;
    font-size: 14px;
}

.column
{
    float: right;
    width: 50%;
}

.resume2
{
    margin-right: 10%;
}

.resume2 img
{
    width: 20%;
    margin-left: 27%;
    border-radius: 5%;
    margin-top: 0%;
}

.resume2::after
{
    content: "";
    clear: both;
    display: table;
}

.resume3
{
    margin-top: 0%;
    margin-right: 10%;
}

.resume3 img
{
    width: 16%;
    margin-left: 27%;
    border-radius: 5%;
}

.resume3 span
{
    font-size: 16px;
    line-height: 1px;
}

.resume3::after
{
    content: "";
    clear: both;
    display: table;
}

.resume4
{
    display: flex;
    align-items: center;
    margin-left: 10%;
}

.resume4 img
{
    border-radius: 5%;
    margin-left: 15%;
}

.resume4::after
{
    content: "";
    clear: both;
    display: table;
}

.resume4-1
{
    display: flex;
    align-items: left;
    width: 50%;
    margin-left: 28%;
}

.resume4-1 p
{
    font-family: serif;
    font-size: 16.5px;
    margin: 1px;
}

.resume4-1 ul
{
    padding: 0%;
    font-family: Courier;
    font-size: 15px;
}

.resume4-1::after
{
    content: "";
    clear: both;
    display: table;
}

.resume5
{
    display: flex;
    align-items: left;
    width: 50%;
    margin-left: 28%;
}

.resume5 p
{
    font-family: serif;
    font-size: 16.5px;
    margin: 1px;
}

.resume5 ul
{
    padding: 0%;
    font-family: Courier;
    font-size: 15px;
}

.resume5::after
{
    content: "";
    clear: both;
    display: table;
}

.resume6
{
    display: flex;
    align-items: left;
    width: 50%;
    margin-left: 28%;
    margin-bottom: 3%;
}

.resume6 p
{
    font-family: serif;
    font-size: 16.5px;
    margin: 1px;
}

.resume6 ul
{
    padding: 0%;
    font-family: Courier;
    font-size: 15px;
}

.resume6::after
{
    content: "";
    clear: both;
    display: table;
}

/* links */
.linkstxt h1
{
    font-size: 50px;
    text-align: center;
    font-family: monospace;
    float: top;
    text-transform: uppercase;
    color: white;
}

.linkstxt
{
    background-image: linear-gradient(rgba(29, 26, 26, 0.5),rgba(39, 37, 37, 0.5)), url(./img/Background2.png);
    min-height: 100vh;
    background-size: cover;
    background-position: center;    
    overflow: hidden;
    margin-bottom: 0%;
    margin-top: 0%;
}

.linkstxt img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    width: 40%;
}

/* contact */
.email h1
{
    font-size: 50px;
    text-align: center;
    font-family: monospace;
    text-transform: uppercase;
    color: white;
    margin-bottom: 0%;
}
.email p
{
    color: white;
    font-family: serif;
    font-size: 20px;
    text-align: center;
    margin-bottom: 2.5%;
}

/* footer */
footer
{
    color: black;
    overflow: hidden;
}
